# Run the following block ...
... for changes to the library to carry through the notebook

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
from lib.variational_autoencoder import variational_autoencoder as vae
import pandas as pd

df_1 = pd.read_csv('data/USCensus1990_1.csv')
df_2 = pd.read_csv('data/USCensus1990_2.csv')

In [4]:
df_1.drop('caseid', axis=1, inplace=True)

In [5]:
df_1

,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,iEnglish,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
0,3,1,2,0,0,1,2,2,2,0,...,0,5,0,2,1,1,0,10,1,0
1,4,1,1,0,0,1,1,2,2,0,...,0,6,0,2,1,1,0,14,1,0
2,1,11,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,0
3,5,11,1,0,0,1,3,2,2,0,...,0,4,1,2,1,1,0,10,1,2
4,3,3,1,0,4,1,0,2,2,2,...,3,0,0,0,2,2,0,10,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229137,3,1,1,0,0,1,4,2,2,0,...,0,4,0,2,1,1,0,11,1,0
1229138,4,2,12,0,0,1,0,2,2,0,...,3,0,0,0,2,2,0,12,4,0
1229139,0,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1229140,6,1,1,0,0,1,2,2,2,0,...,0,5,0,2,1,1,0,11,1,0
1229141,3,9,1,0,2,1,1,2,2,0,...,0,3,0,2,1,1,0,11,1,0

# Model instantiation

In [6]:
model = vae(df_1, 20, 128, 256).get()

In [7]:
model.compile(loss="mean_squared_error", optimizer="adam")
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 68)]              0

 model (Functional)          (None, 20)                24100

 model_1 (Functional)        (None, 68)                23956

=================================================================
Total params: 48,056
Trainable params: 46,856
Non-trainable params: 1,200
_________________________________________________________________

# Training

In [ ]:
history = model.fit(
    df_1, df_1, shuffle=True, epochs=50, batch_size=20, validation_split=0.2
).history

2023-02-19 14:42:48.871154: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 534922272 exceeds 10% of free system memory.

Epoch 1/50

2023-02-19 14:42:49.278269: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 534922272 exceeds 10% of free system memory.

49166/49166 [==============================] - 72s 1ms/step - loss: 4.3923 - val_loss: 1.4499
Epoch 2/50
49166/49166 [==============================] - 69s 1ms/step - loss: 3.9255 - val_loss: 0.8521
Epoch 3/50
49166/49166 [==============================] - 65s 1ms/step - loss: 3.8909 - val_loss: 0.4349
Epoch 4/50
49166/49166 [==============================] - 67s 1ms/step - loss: 3.8773 - val_loss: 0.4621
Epoch 5/50
49166/49166 [==============================] - 66s 1ms/step - loss: 3.8340 - val_loss: 0.7001
Epoch 6/50
49166/49166 [==============================] - 69s 1ms/step - loss: 3.8670 - val_loss: 0.7774
Epoch 7/50
49166/49166 [==============================] - 70s 1ms/step - loss: 3.7999 - val_loss: 0.8819
Epoch 8/50
49166/49166 [==============================] - 70s 1ms/step - loss: 3.8133 - val_loss: 0.6384
Epoch 9/50
49166/49166 [==============================] - 69s 1ms/step - loss: 3.8212 - val_loss: 1.2544
Epoch 10/50
49166/49166 [==============================] - 78s 2ms/step - loss: 3.7371 - val_loss: 0.4647
Epoch 11/50
49166/49166 [==============================] - 77s 2ms/step - loss: 3.7423 - val_loss: 0.9937
Epoch 12/50
49166/49166 [==============================] - 76s 2ms/step - loss: 3.7752 - val_loss: 0.4686
Epoch 13/50
49166/49166 [==============================] - 71s 1ms/step - loss: 3.7851 - val_loss: 0.6187
Epoch 14/50
49166/49166 [==============================] - 70s 1ms/step - loss: 3.7827 - val_loss: 0.6146
Epoch 15/50
49166/49166 [==============================] - 71s 1ms/step - loss: 3.7758 - val_loss: 0.5166
Epoch 16/50
49166/49166 [==============================] - 69s 1ms/step - loss: 3.7436 - val_loss: 0.6666
Epoch 17/50
49166/49166 [==============================] - 69s 1ms/step - loss: 3.7618 - val_loss: 0.5109
Epoch 18/50
49166/49166 [==============================] - 66s 1ms/step - loss: 3.7701 - val_loss: 0.4827
Epoch 19/50
49166/49166 [==============================] - 68s 1ms/step - loss: 3.7999 - val_loss: 0.6747
Epoch 20/50
49166/49166 [==============================] - 68s 1ms/step - loss: 3.7755 - val_loss: 0.9630
Epoch 21/50
49155/49166 [============================>.] - ETA: 0s - loss: 3.7531

In [8]:
model.predict(df_1)[0,:]

  160/38411 [..............................] - ETA: 24s

2023-02-19 14:36:34.160373: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 668653248 exceeds 10% of free system memory.

38411/38411 [==============================] - 25s 660us/step

array([ 4.3079805e+00,  1.1187795e+00,  1.5813105e+00, -1.6750999e-01,
       -7.7401549e-02,  7.9281646e-01,  2.7411454e+00,  1.7816920e+00,
        1.8192761e+00,  6.0719639e-02,  5.3672846e-02,  1.3207045e-01,
       -3.8725883e-02,  3.6954925e+00,  3.9616609e+00,  7.0636719e-03,
        2.3234437e+00, -3.1549003e-02,  3.9651595e-02,  3.1532723e-01,
        4.2919066e-02, -5.1244413e-03,  4.3382335e-02,  2.0096960e-02,
        2.3473051e+00,  2.4962762e-02,  1.9971745e+00, -1.2867770e-01,
        2.3244584e-01, -2.3558417e-02,  8.7386614e-01,  3.7127004e+00,
        1.4173343e+00,  1.8311318e+00,  4.1221929e+00, -5.5445544e-04,
        1.8334208e+00, -1.0291904e-02,  2.0876992e+00,  1.0148456e+00,
        4.8903257e-01,  3.3548913e+00,  1.3174534e-01,  4.3340161e-02,
       -1.6396797e-01,  1.2644925e+00,  4.8665863e-01,  5.7388663e-02,
        3.3284910e+00,  9.9063931e+00,  5.9770107e-02,  8.7397552e-01,
       -2.0676526e-01,  1.1259013e+00, -6.2763333e-02,  1.7958683e-01,
       -1.0605912e-01, -3.8385533e-02, -1.7931935e-01,  4.6299744e+00,
        3.9106637e-02,  1.7569367e+00,  8.4964705e-01,  8.4829235e-01,
       -1.0121408e-01,  9.4003859e+00,  5.2302259e-01, -4.7773622e-02],
      dtype=float32)

In [8]:
df_1.iloc[0, :]

caseid       1671486
dAge               3
dAncstry1          1
dAncstry2          2
iAvail             0
              ...
iWorklwk           1
iWWII              0
iYearsch          10
iYearwrk           1
dYrsserv           0
Name: 0, Length: 69, dtype: int64